{% verbatim %}
<article class="slds-card slds-size--1-of-5 slds-m-around--x-large" v-for="subject in subjects">
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__figure">
        <span v-if="subject.status == statusOk" class="slds-icon_container slds-icon-action-approval slds-icon_container--circle" title="UP">
            <svg class="slds-icon slds-icon_small" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/action-sprite/svg/symbols.svg#approval"></use>
            </svg>
        </span>
        <span v-if="subject.status == statusCritical" class="slds-icon_container slds-icon-action-share-thanks slds-icon_container--circle" title="DOWN">
            <svg class="slds-icon slds-icon_small" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/action-sprite/svg/symbols.svg#remove"></use>
            </svg>
        </span>
        <span v-if="subject.status == statusDegredated" class="slds-icon_container slds-icon-action-priority slds-icon_container--circle" title="Degredated">
            <svg class="slds-icon slds-icon_small" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/action-sprite/svg/symbols.svg#question_post_action"></use>
            </svg>
        </span>    
        </div>
        <div class="slds-media__body">
            <h2>
            <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" v-bind:title="subject.name">
                <span class="slds-text-heading_small">{{ subject.name }}</span>
            </a>
            </h2>
        </div>
    </header>
    <div class="slds-card__body">
        <div class="slds-button-group" role="group">
          <button class="slds-button slds-button-icon slds-button--neutral" title="View Service" v-on:click="onSubjectSelect($event, subject.extId)">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/action-sprite/svg/symbols.svg#preview"></use>
            </svg>
            <span class="slds-assistive-text">View Service</span>
          </button>
          <button class="slds-button slds-button-icon slds-button--destructive" title="Delete service" v-on:click="onSubjectDelete($event, subject.extId)">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/action-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Delete Service</span>
          </button>
        </div>
    </div>
    </div>
    <footer class="slds-card__footer">
        Watched {{ subject.updated_at|date }}
    </footer>
</article>
{% endverbatim %}