<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Watch dog - Service Status'</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/css/uikit.min.css" />
        {% block css %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit.min.js"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div class="uk-container">
            <div class="uk-grid">
                <div class="uk-row uk-width-1-1"></div>
                <div class="uk-row uk-width-1-1">
                {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>