{% extends "base.html" %}

{% block content %}
<div id="status"v-cloak>
    <div class="slds-page-header slds-m-bottom--x-large">
      <div class="slds-media">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-standard-opportunity">
            <svg class="slds-icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/action-sprite/svg/symbols.svg#share_polly"></use>
            </svg>
          </span>
        </div>
        <div class="slds-media__body">
          <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Dashboard">Dashboard</h1>
        </div>
      </div>
    </div>
    <div class="slds-container--x-large slds-container--center">
      <div v-if="activeSubject == null" class="slds-grid">
          {% include "components/subject_list.html" %}
      </div>
    </div>
</div>
<script>
const status = new Vue({
    el: "#status",
    data: {
        subjects: [],
        activeSubject: null,
        statusOk: "ok",
        statusDegredated: "degredated",
        statusCritical: "critical"
    },
    mounted: function() {
      this.fetchSubjects()
    },
    methods: {
      fetchSubjects: function() {
          axios.get("/api/v1/subject")
          .then(r => {
              if (r.status === 200) {
                  this.subjects = r.data
              }
          })
      },
      initGraphs: function() {
        this.subjects.forEach(s => {
          Plotly.plot(document.getElementById(s.extId), [{
            x: [1, 2, 3, 4, 5],
            y: [1, 2, 4, 8, 16]
          }])
        })
      },
      fetchAudits: function(subjectId) {

      }
    }
})
</script>
{% endblock %}