{% extends "base.html" %}

{% block content %}
<div id="status"v-cloak>
    <div class="slds-page-header slds-m-bottom--x-large">
      <div class="slds-media">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-standard-opportunity">
            <svg class="slds-icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/icons/action-sprite/svg/symbols.svg#share_polly"></use>
            </svg>
          </span>
        </div>
        <div class="slds-media__body">
          {% verbatim %}
          <h1 class="slds-page-header__title slds-truncate slds-align-middle" v-bind:title="pageTitle">{{ pageTitle }}</h1>
          {% endverbatim %}
        </div>
      </div>
    </div>
    <div v-if="activeSubject == null" class="slds-grid slds-wrap">
        {% include "components/subject_list.html" %}
    </div>
    <div v-if="activeSubject != null" class="slds-grid slds-wrap">
        {% include "components/subject.html" %}
    </div>
</div>
<script>
const status = new Vue({
    el: "#status",
    data: {
      subjects: [],
      activeSubject: null,
      statusOk: "ok",
      statusDegredated: "degredated",
      statusCritical: "critical",
      pageTitle: "Dashboard"
    },
    mounted: function() {
      this.fetchSubjects()
    },
    methods: {
      onSubjectSelect: function(e, id) {
        axios.get(`/api/v1/subject/${id}`)
        .then(r => {
          if (r.status === 200) {
            this.activeSubject = r.data
            this.pageTitle = r.data.subject.name
          }
        })
        .catch(e => {
          // deal with err
          console.log(e)
        })
      },
      onSubjectDelete: function(e, id) {
        axios.delete(`/api/v1/subject/${id}`)
        .then(r => {
          if (r.status === 200) {
            this.fetchSubjects()
          }
        })
        .catch(e => {
          console.log(e)
        })
      },
      fetchSubjects: function() {
        axios.get("/api/v1/subject")
        .then(r => {
            if (r.status === 200) {
              this.subjects = r.data
            }
        })
      },
      fetchAudits: function(subjectId) {

      }
    }
})
</script>
{% endblock %}